@charset "utf-8";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,900');

/* Style for all elements */
*{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

/* Style for body */
body{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}

/* Style for all div */
div{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Style for all ul */
ul{
	list-style: none;
	margin-bottom: 0px;
}

/* Style for all paragraph */
p{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 1.85714;
	font-weight: 500;
	color: #838293;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

/* Style for profile picture */
.background_image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

/* Style for main container */
.main_container
{
	width: 100%;
	height: 100%;
}

.main_content_outer
{
	width: 100%;
	height: 100%;
	background: #f5f0f0;
	overflow: hidden;
}

/* Style for general info */
.general_info
{
	width: 473px;
	height: 100%;
	background: #100f3a;
}

.general_info_image
{
	width: 100%;
	height: 473px;
}

.general_info_content
{
	width: 100%;
	height: 100%;
	padding-left: 77px;
	padding-top: 49px;
	padding-right: 15px;
	padding-bottom: 20px;
	overflow: hidden;
}

.general_info_content_inner
{
	width: 100%;
	max-height: 100%;
}

.general_info_title
{
	font-size: 30px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 1.2;
}

.general_info_list
{
	margin-top: 34px;
}

.general_info_list li:not(:last-child)
{
	margin-bottom: 15px;
}

.general_info_text,
.general_info_text a
{
	font-size: 14px;
	color: #7a798c;
	line-height: 1.2;
}

.general_info_text a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.general_info_text a:hover
{
	color: #FFFFFF;
}

.general_info_text span
{
	color: #FFFFFF;
}

/* Style for main content */
.main_content{
	width: calc(100% - 473px);
	height: 100%;
	padding-left: 82px;
	padding-right: 30px;
}

.main_title_container{
	width: 100%;
	height: 193px;
}

.main_subtitle{
	font-size: 30px;
	font-weight: 500;
	color: #7a798c;
	line-height: 0.75;
}

.welcome_subtitle{
	font-size: 24px;
	font-weight: 500;
	color: #7a798c;
	line-height: 0.75;
}

/* Name */
.main_title{
	font-size: 92px;
	font-weight: 800;
	color: #100f3a;
	line-height: 0.75;
	margin-top: 12px;
}

.main_content_scroll{
	max-height: calc(100% - 193px - 72px - 30px);
	margin-top: 72px;
	padding-right: 60px;
}

/* Despcription Title */
.content_title{
	margin-top: 30px;
	font-size: 30px;
	font-weight: 700;
	color: #100f3a;
}


/* Description info*/
.content_text p{
	margin-top: 31px;
	font-size: 18px;
}

/* Style for progress bar */
.progress-wrap h3 {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px; }

.progress {
  height: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #f2f3f7;
  overflow: visible; }

.progress-bar {
  background: #2c98f0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 12px;
  line-height: 1.2;
  color: #000;
  font-weight: 600;
  text-align: right;
  position: relative;
  overflow: visible;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px; 
}

.progress-bar:after {
    position: absolute;
    top: -2px;
    right: 0;
    width: 10px;
    height: 10px;
    content: '';
    background: #2c98f0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; 
}
  
.progress-bar span {
    position: absolute;
    top: -22px;
    right: 0; 
}

.progress-bar.color-1 {
    background: #2c98f0;
 }
    
.progress-bar.color-1:after {
    background: #2c98f0; 
}

.progress-bar.color-1 span {
    color: #2c98f0; 
}

.progress-bar.color-2 {
	background: #ec5453; 
}

.progress-bar.color-2:after {
	background: #ec5453; 
}

.progress-bar.color-2 span {
	color: #ec5453;
}

.progress-bar.color-3 {
	background: #f9bf3f;
}

.progress-bar.color-3:after {
	background: #f9bf3f;
}

.progress-bar.color-3 span {
	color: #f9bf3f; 
}

.progress-bar.color-4 {
	background: #a84cb8;
}

.progress-bar.color-4:after {
	background: #a84cb8; 
}

.progress-bar.color-4 span {
	color: #a84cb8; 
}

.progress-bar.color-5 {
	background: #2fa499; 
}

.progress-bar.color-5:after {
	background: #2fa499; 
}

.progress-bar.color-5 span {
	color: #2fa499; 
}

.progress-bar.color-6 {
	background: #4054b2; 
}

.progress-bar.color-6:after {
	background: #4054b2; 
}

.progress-bar.color-6 span {
	color: #4054b2; 
}

.logo-login{
	width: 20%; 
	float:right;
}

.header-login{
	font-size: 20px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 90%;
	height: 30%;
}

.register{
	text-align: center;
	font-size: 16px;
}

.logout{
	float: right;
}
